@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"rel="folha de estilo');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Fonte+Sans+Pro&display=swap"rel="stylesheet');
body{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family:Verdana,Tahoma, sans-serif;
    box-sizing: border-box;
    overflow-x: hidden;
    
}


main{
    min-height: calc(100vh - 211px - 58px);
    transition: margin-left 0.5s;
}
/*Desktop*/
@media only screen and (min-width: 769px){
    /*-------Menu--------------*/
    .menu-principal{
        width: 100%;
        position: absolute; 
        height: 165px; 
        background-color: #374b73;
        top: 115px;
        height: 60px;
        z-index: 2;
        max-width: 3100px;
        max-height: 2000px;
        object-fit: contain;
    }   
    .menu-principal ul{
        background: #374b73;
        list-style: none;
        margin: 0;
        padding: 0;
        z-index: 2;
    }
    .menu-principal li:hover{
        background: #FF8197;
        cursor: pointer;
        z-index: 2;
        
    }
    .menu-principal ul li{
        display: inline-block;
        color:#f9f9f9;
        background: #374b73;
        margin-left: 50px;
        padding: 17px;
        position: relative;
        text-decoration: none;
        transition-duration: 0.5s;
        z-index: 2;
        
    }
    .menu-principal ul li a{
        color:#f9f9f9;
        text-decoration: none;
        font-family: sans-serif;
        font-size: 18px;
       
        z-index: 2;
        
    }  
    .menu-principal ul li ul{
        background: #374b73;
       
        opacity: 0;
        position: absolute;
        transition: all 0.5s ease;
        margin-top: 20px;
        left: 0;
        display: none;
        margin-left: 0px;
        z-index: 2;
    }
    .menu-principal ul li:hover > ul, ul li ul:hover{
        visibility: visible;
        opacity: 1;
        display: block;
        z-index: 2;
        
    }
    .menu-principal ul li ul li{
        
        width: 100%;
        margin-left: 10px;
        padding: 20px;
        z-index: 2;
    }
    nav{
        display: none;
    }
    .btn-abrir{
        display: none;
    }
    .ind-logo{
        position:fixed;
        left:110px;
	    top:-30px;
	    margin-left:-120px;
	    margin-top:-65px;
        z-index: 2;
        background-color: white;
        height: 214px;
        width: 200%;
    }
    .ind-logo img{
        max-width: 100%;
    }
    .logomobile{
        display: none;
    }
    .fasfa-search{
        width: 30px;
        height: 30px;
    }
    .busca{
        float: right;
        width: 30%;
        left: 640px;
        margin-top: -110px;
        transform: translate(-50%, -50%);
        height: 40px;
        border:solid 1px #374b73;
        padding: 10px;
        position: fixed;   
        z-index: 2;
        background-color: white;       
    } 
    .search-btn{
        margin-top: -10px;
        margin-left: 370px;
        padding: 12px;
        float: right;
        width: 15px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 2;
        background-color: white;
    }
    .search-txt{
        border: none;
        background: none;
        outline: none;
        padding: 0;
        font-size: 16px;
        line-height: 40px;
        width: 410px;
        position: fixed;
        z-index: 2;
        background-color: white;
    }
    ::-webkit-input-placeholder {
        color: #374b73;      
     }
     .icone{
        margin-top: 5px;
        margin-left: 950px;
        position: absolute;
        max-width:450px;
        top:-0px;
        padding-top: 50px;
        z-index: 2;
        position: fixed;
    }
    .entre{
        font-family: Verdana,Tahoma, sans-serif;
        font-size: 13px ;
        color: #374b73;
        margin-left: 50px;
        margin-top: -19px;  
        z-index: 2;
        position: fixed;
        text-decoration: underline;
    }
    .saudacao{
        font-family: Verdana,Tahoma, sans-serif;
        font-size: 14px;
        color: #374b73;
        margin-left: 50px;
        margin-top: -47px; 
        z-index: 2;
        position: fixed;
    }
    .carrinho{
        margin-top: 7px;
        margin-left: 1200px;
        max-width: 450px;
        position:absolute;
        top: -1px;
        padding-top: 45px;
        z-index: 2;
        position: fixed;
    }
    
    
    h2{
        margin-top: 200px;
    }

    .banneracao{
        width: 100%;
        margin-top: 170px;
    }

    .check1{
        margin-top: 50px;
        margin-left: 15px;
        width: 100px;
        height: 10%;
        align-items: center;
        
    }
    .titulo1{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a1{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
    }
    .check2{
        margin-left: 15px;
        align-items: center;
       
    }
    .titulo2{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a2{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
    }
    .check3{
       
        align-items: center;
        
    }
    .titulo3{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a3{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
    }
    .check4{
        align-items: center;
        
    }
    .titulo4{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a4{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
       
    }
    .check5{
       
        align-items: center;
        
    }
    .titulo5{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a5{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
    }
    .check6{
        
        align-items: center;
        
    }
    .titulo6{
        font-size: 18px;
        font-family: sans-serif;
        color: #483d8b;
        font-weight: bold;
    }
    .a6{
        color:darkslategray;
        font-size: 13px;
        font-family: sans-serif;
    }

    hr{
        width: 170px;
        margin-left: 2px;
        size: 10;
    }

    #titulorac{
        margin-top: 200px;
        font-size:40PX;
        width: 100%;
        align-items: CENTER;
        
    }
    #titulorac p{
        font-family: 'Pacifico', sans-serif;
        align-items: right;
        margin-left: 400px;
        color: #d84b6b;
    }
    #linha1{
        border-width: 3px;
        padding: 7px; ;
        border-style: double;
        width: 17%;
        height: 30%;
        margin-left: 220px;
        margin-top: -830px;
        border-color:#C0C0C0; 
        font-size: 16px;
        color: #374b73;
    }
    #linha1 #estrela5{
       margin-left: 160px;
       margin-top: -60px;
    }
    #linha1 #img1{
        align-items: center;
        margin-left: 40px;
    }
    
   
    #linha2{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 500px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    
    }
    #linha2 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha2 #img2{
        align-items: center;
        margin-left: 40px;
    }

    #linha3{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left:780px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;

    }
    #linha3 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha3 #img3{
        align-items: center;
        margin-left: 40px;
    }
    #linha4{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 1060px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha4 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha4 #img4{
        align-items: center;
        margin-left: 40px;
    }
     #linha5{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-top: 60px;
        margin-left: 220px;
        border-color:#C0C0C0;
        font-size: 16px;
        color: #374b73;
        }
        #linha5 #estrela5{
            margin-left: 160px;
           margin-top: -60px;
        }
        #linha5 #img5{
            align-items: center;
            margin-left: 40px;
        }

    #linha6{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 500px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha6 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha6 #img6{
        align-items: center;
        margin-left: 40px;
    }

    #linha7{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left:780px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha7 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha7 #img7{
        align-items: center;
        margin-left: 40px;
    }

    #linha8{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 1060px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha8 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha8 #img8{
        align-items: center;
        margin-left: 40px;
    }

    #linha9{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-top: 60px;
        margin-left: 220px;
        border-color:#C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha9 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha9 #img9{
        align-items: center;
        margin-left: 40px;
    }

    #linha10{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 500px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha10 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha10 #img10{
        align-items: center;
        margin-left: 40px;
    }

    #linha11{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left:780px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha11 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha11 #img11{
        align-items: center;
        margin-left: 40px;
    }
    #linha12{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 1060px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
     #linha12 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha12 #img12{
        align-items: center;
        margin-left: 40px;
    }
    
    #linha13{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-top: -20px;
        margin-left: 220px;
        border-color:#C0C0C0;
        font-size: 16px;
        color: #374b73;
      
    }
    #linha13 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha13 #img13{
        align-items: center;
        margin-left: 40px;
    }
    #linha14{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 500px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha14 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha14 #img14{
        align-items: center;
        margin-left: 40px;
    }
    #linha15{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left:780px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha15 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha15 #img15{
        align-items: center;
        margin-left: 40px;
    }
    #linha16{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 1060px;
        margin-top: -293px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
      
    }
    #linha16 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha16 #img16{
        align-items: center;
        margin-left: 40px;
    }  
    #linha17{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-top: 50px;
        margin-left: 220px;
        border-color:#C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha17 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha17 #img17{
        align-items: center;
        margin-left: 40px;
    }
    #linha18{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 500px;
        margin-top: -290px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
      
    }
    #linha18 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha18 #img18{
        align-items: center;
        margin-left: 40px;
    }
    #linha19{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left:780px;
        margin-top: -290px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha19 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha19 #img19{
        align-items: center;
        margin-left: 40px;
    }
    #linha20{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-left: 1060px;
        margin-top: -290px;
        border-color: #C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha20 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha20 #img20{
        align-items: center;
        margin-left: 40px;
    }
    #linha21{
        border-width: 3px;
        padding: 5px; ;
        border-style: double;
        width: 18%;
        margin-top: 50px;
        margin-left: 170px;
        border-color:#C0C0C0;
        font-size: 16px;
        color: #374b73;
    }
    #linha21 #estrela5{
        margin-left: 160px;
       margin-top: -60px;
    }
    #linha21 #img21{
        align-items: center;
        margin-left: 40px;
    }
    
 
    .precos{
        text-align: left;
        font-weight: bold;
        font-family:  'Source Sans Pro', sans-serif;
        color: #374b73;
    }
 


    #linha1 #idec1{
    border-width: 2px;
    }
    #idec2{
        border-width: 2px;
    }
    #idec3{
        border-width: 2px;
    }
    #idec4{
        border-width: 2px;
    }
    #idec5{
        border-width: 2px;
    }
    #idec6{
        border-width: 2px;
    }
    #idec7{
        border-width: 2px;
    }
    #idec8{
        border-width: 2px;
    }
    #idec9{
        border-width: 2px;
    }
    #idec10{
        border-width: 2px;
    }
    #idec11{
        border-width: 2px;
    }
    #idec12{
        border-width: 2px;
    }
    #idec13{
        border-width: 2px;
    }
    #idec14{
        border-width: 2px;
    }#idec15{
        border-width: 2px;
    }
    #idec16{
        border-width: 2px;
    }
    #idec17{
        border-width: 2px;
    }
    #idec18{
        border-width: 2px;
    }
    #idec19{
        border-width: 2px;
    }
    #idec20{
        border-width: 2px;
    }
    #idec21{
        border-width: 2px;
    }
    footer{
        width: 150%;
        background-color: #374b73;
        display: flex;
        margin-top: 230px;
        margin-left: -15px;
        height: 120px;
       
        font-family:'Noto Sans', sans-serif;
    }
    footer li{
        list-style: none;
        margin-left: -300px;
     }
    footer li a{
        font-size: 16px;
        text-align: center;
        color: #d2d1d1;
        text-decoration: none;
    }
    .logorodape{
        height: 100px;
        width: 100px;
        margin-top: -15px;
    }
    footer ul{
        list-style-type: none;
        text-align: left;
        line-height: 1.7;
        margin-left: 100px;
    }
    
    .redes{
        display: flex;
        margin-top: 50px;
        margin-left: 850px;
        
    }
    .redes .whats{
        margin-left: 10px;
    }
    .redes .insta{
        margin-left: 10px;
    }
    footer #logorodape{
        margin-top: 30px;
        margin-left: 160px;
    }
    
}



 

