@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body{
    font-family: 'Open Sans', sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
    
}
header{
    background-color: #fff;
}
.logo{
    background-color: #fff;
    position:absolute;
    left:110px;
	top:-15px;
	margin-left:-110px;
	margin-top:-75px;
    height: 35%;
    width: 100%;
}
.linha{
    width: 100%;
	text-align: center; 
	margin: 0 auto 0 0; 
    margin-top: -140px;
    background-color: #374B73;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
    margin-top: 60px;
    
}
.content{
    background-color: #fff;
    border-radius: 15px;
    width: 70%;
    height: 70%;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before{
    content: "";
    position: absolute;
    background-color: #374B73;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius:15px;
}
.title{
    font-size: 28px;
    font-weight: bold;
    align-items: center;
    text-transform: capitalize;
}
.title-welcome{
    color: #fff;
    font-size: 29px;
}
.title-second{
    color: #374B73;
    font-size: 29px;
}
.description-primary{
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
.description-second{
    font-size: 14px;
    font-weight: 300;
    color: #7f8c8d;
    line-height: 30px;
}
.btn-primary{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 50px;
    background-color: #FF8197;
    border: 1px solid #FF8197;
    cursor: pointer;
    margin: 1rem;
}
.btn-primary:hover{
    background-color: #fff;
    color: #FF8197;
}
.btn-second{
    border-radius: 15px;
    text-transform: uppercase;
    color: #fff;
    font-size: 11px;
    padding: 10px 40px;
    cursor: pointer;
    width: 150px;
    align-self: center;
    border-width: 0;
    background-color: #374B73;
    border: 1px solid #374B73;
    margin: 1rem;
}
.btn-second:hover{
    background-color: #fff;
    border: 1px solid #374B73;
    color: #374B73;
}
.first-content{
    display: flex;
    
}
.first-column{
    text-align: center;
    flex: 1 0 auto;
    z-index: 10;
}
.second-column{
    flex: 2 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social-media{
    margin: 1rem 0;
}
.link-social-media:hover .item-social-media{
    background-color: #374B73;
    color: #fff;
    border-color: #374B73;
}
.link-social-media:not(:first-child){
    margin-left: 10px;
}
.list-social-media{
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.form{
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input{
    height: 40px;
    border: none;
    background-color: #ecf0f1;
    margin: 5px;
    outline-color: #374B73;  
    border: 1 solid;
}
